body{
    position: relative;
}

header {
    width: 1440px;
}

.leftMenu {
    list-style-type: none;
}

.logo {
    width: 100px;
    height: 33px;
}

.softTitle {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #AE7C78;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
}

.whiteColor {
    color: #FFFFFF;
}
/* *** SECTION PROMOTION *** */
.promotion {
    color:#AE7C78;
}
.description {
    font-size: 24px;
    line-height: 29px;
}

.italic{
    font-style: italic;
}

.bigTitle {
    font-family: "Playfair Display",sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 44px;
    line-height: 59px;

}

.firstImg {
    position: absolute;
    width: 386px;
    height: 404px;
    left: 527px;
    top: 230px;
    border-radius: 10px;
}

.secondImg {
    position: absolute;
    width: 387px;
    height: 420px;
    left: 933px;
    top: 172px;
    border-radius: 10px;
}

/* *** SECTION ADVANTAGES *** */

.promotionTitle {
    font-weight: 500;
}

/* *** SECTION POPULAR *** */

.popular {
    color: #AE7C78;
}

.popularTitle {
    font-family: "Playfair Display", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.02em;
}

.popularSubTitle {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px
}

/* *** SECTION CATALOG *** */

.catalogContent {
    padding-top: 183px;
    text-align: center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.catalogSegmentSize {
    width: 387px;
    height: 442px;
    border-radius: 10px;
}
.catalogChapterOne {
    background-image: url(../image/catalog-chapter-one.png);
}

.catalogChapterTwo {
    background-image: url(../image/catalog-chapter-two.png);
}

.catalogChapterThree {
    background-image: url(../image/catalog-chapter-three.png);
}

.catalogBackground {
    background: rgba(174, 124, 120, 0.6);
}

.catalogColor{
    color: #FFFFFF;
}

/* *** SECTION SALE *** */

.sale {

    width: 1200px;
    height: 391px;
    background-color: #AE7C78;
}
.saleContent {
    padding: 40px 102px;
}

.saleImg {
    width: 590px;
    height: 391px;
    padding-left: 610px;
}

/* *** SECTION STEPS *** */

.steps {
    text-align: center;
    color:#AE7C78;
}

.stepsBlock {
    text-align: center;
    list-style-type: none;
    display: flex;
}

/* доделать отступы в заголовке!